@import "./layout/variables";

// list-less Colors
.ll-white {
  color: $ll-white;
}

// Labels
label {
  margin-bottom: 0 !important;
}

// Containers
@media (min-width: 1904px) {
  .container {
    max-width: 1185px;
  }
}

// Spinners
.page-center-spinner-container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
