@import "./layout/variables";

.ll-white {
  color: $ll-white;
}

.page-center-spinner-container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
